@model MvcKutuphane.Models.Entity.TBLUYELER
@{
    ViewBag.Title = "UyeGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UyeGetir</h2>

@using (Html.BeginForm("UyeGuncelle", "Uye", FormMethod.Post))
{

    <div style="margin-bottom:15px"></div>


    <label>UYE ID</label>
    @Html.TextBoxFor(k => k.UYEID, new { @class = "form-control" })
    <br />

    <label>Üye Adı:</label>
    @Html.TextBoxFor(k => k.AD, new { @class = "form-control" })
    <br />

    <label>Üye Soyadı:</label>
    @Html.TextBoxFor(k => k.SOYAD, new { @class = "form-control" })
    <br />

    <label>Kullancı Adı:</label>
    @Html.TextBoxFor(k => k.KULLANICIADI, new { @class = "form-control" })
    <br />

    <label>Şifre:</label>
    @Html.TextBoxFor(k => k.SIFRE, new { @class = "form-control" })
    <br />

    <label>Mail Adresi:</label>
    @Html.TextBoxFor(k => k.MAIL, new { @class = "form-control" })
    <br />

    <label>Üye Okulu:</label>
    @Html.TextBoxFor(k => k.OKUL, new { @class = "form-control" })
    <br />

    <label>Telefon:</label>
    @Html.TextBoxFor(k => k.TELEFON, new { @class = "form-control" })
    <br />

    <label>Fotoğraf Link:</label>
    @Html.TextBoxFor(k => k.FOTOGRAF, new { @class = "form-control" })
    <br />

   
        <button class="btn btn-warning">Güncelle</button>
   

}
